.App {
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    .container {
        background-color: red;
        min-width: 720px;
        max-width: 2160px;
        height: 100%;
        padding: 2rem;
    }
}
